.main {
  min-height: calc(100vh - 210px);
  @include responsive(xs) {
    min-height: calc(100vh - 180px);
  }
}

.avatar,
.login {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: 6px;
  img {
    border-radius: 50%;
  }
}

.login {
  span {
    line-height: 32px;
    color: $contentPrimary;
    padding: 4px 10px;
    background: $backgroundSecondary;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 12px;
    &:hover {
      color: $accent;
    }
  }
}

.sectionTitle {
  color: $contentPrimary;
  font-weight: bold;
  font-size: 18px;
  margin: 1.5em 0 1em 0;
}

.group {
  margin: 12px 0 8px 0;
}

.searchWrap {
  display: flex;
  width: auto;
  align-items: center;
  margin-bottom: 1em;
}

.searchForm {
  display: flex;
  flex: 1;

  input {
    flex: 1;
  }
}

.searchIcon {
  color: $contentInversePrimary;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  > i {
    background-color: $accent;
    padding: 12px;
    border-radius: 50%;
    margin-left: 4px;
  }
}

.loadingWrap {
  margin-left: 4px;
  background-color: $accent;
  border-radius: 50%;
}

.hotLoading {
  margin-top: 48px;
}

.searchLoading {
  margin: 12px;
  > div {
    border: 2px solid $contentInversePrimary;
    border-left-color: transparent;
  }
}

.followLoading {
  padding: 0 14px;
  div {
    border-width: 2px;
  }
}

.empty {
  color: $contentSecondary;
  font-size: 15px;
  padding-left: 4px;
  margin-bottom: 12px;
}

.input {
  margin: 0 auto;
  flex: 1;
  border-radius: 18px;
  background-color: $backgroundPrimary;
}

.card {
  padding: 12px 16px;
  background-color: $backgroundPrimary;
  border-radius: 8px;
  margin-bottom: 12px;
}

.channelTitle {
  font-size: 15px;
  color: $contentPrimary;
  font-weight: bold;
  padding: 0.2em 0 0.5em 0;
}

.channelDesc {
  font-size: 14px;
  color: $contentSecondary;
  padding-top: 0.5em;

  > span {
    color: $contentPrimary;
  }
}

.channelFee {
  font-size: 14px;
  color: $contentSecondary;
  margin: 0.5em 0;
  span {
    color: $contentPrimary;
  }

  .priceDetail {
    font-size: small;
    padding-left: 1em;
  }
}

.copy {
  margin-top: 6px;
  font-size: 14px;
  overflow-x: hidden;
  line-height: 18px;

  > span {
    &:last-child {
      color: $contentSecondary;
      cursor: pointer;
      > i {
        line-height: 18px;
        vertical-align: middle;
      }
    }
  }
}

.button {
  // background: transparent;
  background: $backgroundPrimary;
  color: $accent;
  padding: 8px 16px;
  margin: 0.1em;
  border: 1px solid $accent;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background: $accent;
    color: $backgroundPrimary;
  }
}

// .collection {
//   padding: 24px 0;
// }
