.main {
  width: 100%;
  padding: 1em 0;
}

.sectionTitle {
  color: $contentPrimary;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em 0 1em 0;

  display: flex;
  align-items: center;
}

.findWrap {
  margin: 1em 0;
}

.typeOptions {
  margin: 0 0 0.5em 0;
  width: 100%;

  * {
    font-size: 1rem;
  }

  > div:first-child {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 0.5em;
  }

  label > div span:first-child {
    display: none;
  }

  label {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    margin: 0 !important;
    border-radius: 6px;
    background: $backgroundPrimary;
    color: $contentPrimary;

    white-space: nowrap;

    svg {
      margin-right: 0.2em;
    }
  }

  label[data-state='checked'],
  label[data-state='is-hovered'] {
    background: $accent;
    box-shadow: 0 1px 1px #0000002e;
    text-shadow: 0 1px 0px #79485f7a;

    * {
      color: #fff;
    }
  }
}

.searchWrap {
  width: 100%;
  display: flex;
}

.loadingWrap {
  width: 100%;
  margin: 1em 0;
  padding: 1em;

  border-radius: 8px;
  background: $backgroundSecondary;
  display: flex;
  align-items: center;

  .loadingHint {
    margin-left: 1em;
    color: $contentSecondary;
  }
}

.empty {
  color: $contentNotice;
  padding-left: 4px;
  margin-bottom: 12px;
}

.errorTip {
  width: 100%;

  margin: 0.25em auto 1em auto;
  padding: 16px;
  border-radius: 8px;
  background: $backgroundSecondary;
  color: $contentNotice;
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.5em;
  }
}

.collection {
  margin: 1em 0;
}
