.wrap {
  padding: 1em 2em 2em 2em;

  display: flex;
  flex-direction: column;
  justify-content: center; //水平居中

  color: $contentPrimary;
}

.sheetTitle {
  color: $contentSecondary;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;

  display: flex;
  justify-content: center; //水平居中
  align-items: center; //垂直居中

  svg {
    font-size: large;
    margin-right: 0.25em;
  }
}

.buttons {
  display: flex;
  justify-content: center;

  margin: 2em 0 1em 0;

  button {
    width: 50% !important;
    border-radius: 4px !important;
  }
}

.qrcode {
  canvas {
    border: 2px solid white;
    border-radius: 2px;
  }

  text-align: center;
  margin: 1em auto;
}

.tip {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $contentPrimary;
  padding: 0.25em;

  svg {
    margin-right: 2em;
  }
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $contentNotice;
  padding: 0.25em;
}
