.btnLoading {
  padding: 1px 18px;
  div {
    border-width: 2px;
  }
}

.sectionTitle {
  display: flex;
  align-items: center;
  color: $contentPrimary;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em 0 1em 0;

  svg {
    margin-right: 0.5em;
  }
}

.collapse {
  h3 {
    font-size: 1.2rem;
  }

  .description {
    margin: 0 0 1em 0;
  }

  .uri {
    margin: 0.25em 0;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;

    svg {
      min-width: 1em;
      min-height: 1em;
      max-width: 1em;
      max-height: 1em;
      color: $contentSecondary;
      margin-right: 0.25em;
    }
    > span {
      cursor: pointer;
    }
  }

  .buttons {
    margin: 1em 0 0 0;

    .button {
      padding: 0.25em 0.8em;
      background: transparent;

      border-radius: 8px;
      color: $notice;
      border: 1px solid $notice;
      cursor: pointer;
      &:hover {
        background: $notice;
        color: $backgroundPrimary;
      }
    }
    .button:disabled {
      background: transparent;
      color: $contentSecondary;
      border: 1px solid $contentSecondary;
      cursor: default;
      pointer-events: none;
    }
  }
}
