.main {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionTitle {
  color: $contentPrimary;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em 0 1em 0;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  padding: 1em 0;
}

.logout {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}
