.uriSample {
  display: block;
  margin: 1em 0;
  padding: 2em;
  border-radius: 8px;
  background: $backgroundCard;
  overflow-x: hidden;

  color: $contentPrimary;
  font-size: 14px;

  .title {
    display: block;
    font-weight: bold;
  }

  .uri_type {
    display: block;
    margin: 1.5em 0 0.25em 0;
    color: $contentSecondary;
  }

  .uri_item {
    display: block;
    cursor: pointer;
    margin: 0.5em 0 0.5em 1.5em;
    color: $contentPrimary;
    overflow-x: hidden;
  }
}
