.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 680px;
  left: calc(50vw - 340px);
  background-color: $backgroundPrimary;

  @include responsive(xs) {
    left: 0;
  }

  @include responsive(lg) {
    border-left: 1px solid $borderOpaque;
    border-right: 1px solid $borderOpaque;
  }

  > div {
    display: flex;
    justify-content: space-around;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 6px;

  .icon {
    font-size: 20px;
  }

  .label {
    font-size: 12px;
  }
}

.default {
  color: $contentSecondary;
  &:active {
    color: $contentPrimary;
  }
}

.active {
  color: $contentPrimary !important;
}
