.button {
  outline: none;
  cursor: pointer;
  position: relative;
  border: none;
  white-space: nowrap;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.large {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;

  .loading {
    // padding: 8px 16px;
    // margin: 0 auto !important;
    // padding: 0 12px;
    div {
      border: 2px solid $backgroundPrimary;
      // border-left-color: transparent;
      border-width: 2px;
    }
  }
}

.small {
  padding: 0;
  font-size: 14px;
}

.primary {
  background: $accent;
  color: $backgroundPrimary;
}

.text {
  background: transparent;
  color: $accent;
  font-size: 14px;
}

// .loading {
//   // margin: 0 auto !important;
//   padding: 0 12px;
//   div {
//     border: 2px solid $backgroundPrimary;
//     // border-left-color: transparent;
//     border-width: 2px;
//   }
// }