.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .image {
    svg {
      fill: $contentSecondary;
      width: 96px;
      height: auto;
    }
    image {
      width: 96px;
      height: auto;
    }

    .my-svg-alternate {
      display: none;
    }
    .no-svg .my-svg-alternate {
      display: block;
      width: 100px;
      height: 100px;
      background-image: url('/empty.svg');
    }
  }

  .text {
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: -1em;
    color: $contentSecondary;
  }
}
